.third-section {
  padding-top: 75px;
  padding-bottom: 75px;
  border-width: 0px 0px 0px 0px;
  border: 1px solid #d8d8d8;
  .container {
    .row {
      .col-xs-12 {
        .fw-tabs {
          margin-bottom: 30px;
          .tabs-panel {
            padding: 45px 0;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
